<mat-drawer-container class="app">
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <mat-drawer #drawer mode="over" position="end">
    <h1 class="title">Kieser Training</h1>
    <mat-list class="nav" (click)="drawer.close()">
      <a routerLink="training" mat-list-item>
        <mat-icon mat-list-icon>fitness_center</mat-icon>
        Training
      </a>
      <a routerLink="history" mat-list-item>
        <mat-icon mat-list-icon>checklist</mat-icon>
        History
      </a>
      <a routerLink="settings" mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        Workout plan
      </a>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
<button class="menu-toggle" mat-fab (click)="drawer.toggle()" color="primary"><mat-icon>menu</mat-icon></button>
